.header__lang-link {
    font-family: 'Inter', sans-serif;
    color: white;
    text-decoration: none;
    line-height: 28px;
    font-size: 24px;

    transition-property: opacity;
    transition-duration: 0.5s;
}

.header__lang-link:hover {
    opacity: 0.8;
}


@media screen and (max-width: 730px) {
    .header__lang-link {
        font-size: 22px;
    }
}

@media screen and (max-width: 455px) {
    .header__lang-link {
        font-size: 18px;
    }
}
