.photo-grid {
    padding: 0;

    display: grid;
    gap: 16px;

    /*grid-template-columns: 1fr,repeat(auto-fit, minmax(284px, 350px));*/
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));

    max-width: 1200px;
    margin: 0 auto 92px;

}

@media screen and (max-width: 1250px) {
    .photo-grid {
        margin: 0 48px 92px;
    }
}

@media screen and (max-width: 790px) {
    .photo-grid {
        margin: 0 24px 60px;
    }
}


@media screen and (max-width: 455px) {
    .place__url-heading {
        margin: 0 24px 16px;
    }
}