.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 28px 48px 48px;


}

@media screen and (min-width: 1260px) {
    .header {
        max-width: 1184px;
        margin: 28px auto 56px;
        padding-left: 48px;
        padding-right: 48px;
    }
}

@media screen and (max-width: 790px) {
    .header {
        margin: 28px 24px 48px;
    }
}

@media screen and (max-width: 455px) {
    .header {
        margin: 16px 16px 48px;
    }
}