.footer__link {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;

    opacity: 1;

    transition: opacity;

    transition-property: opacity;
    transition-duration: 0.5s;
}

.footer__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 455px) {
    .footer__link {
        font-size: 24px;
    }
}