.footer__copyright {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF;

    margin: 0;
    padding: 0;

    min-width: 190px;
}

@media screen and (max-width: 455px) {
    .footer__copyright {
        margin-top: 16px;
    }
}