.footer__copyright {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: right;

    color: #FFFFFF;
}

@media screen and (max-width: 455px) {
    .footer__copyright {
        margin-top: 16px;
    }
}