.intro {
    max-width: 980px;
    margin: auto auto 92px;
}

@media screen and (max-width: 1050px) {
    .intro {
        margin: 0 48px 92px;
    }
}

@media screen and (max-width: 790px) {
    .intro {
        margin: 0 24px 75px;
    }
}

@media screen and (max-width: 455px) {
    .intro {
        margin: 0 24px 64px;
    }
}