.place__link {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;

    color: #FFFFFF;

    transition-property: opacity;
    transition-duration: 0.5s;
}

.place__link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 455px) {
    .place__link {
        margin-left: 16px;
        margin-right: 16px;

    }
}