.lead__caption {
    font-family: Inter, sans-serif;
    font-size: 10px;
    line-height: 14px;
    font-weight: normal;
    color: white;
    letter-spacing: 1.5px;

    text-transform: uppercase;

    padding: 0;
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 790px) {
    .lead__caption {
        margin: 0 24px;
    }
}

@media screen and (max-width: 455px) {
    .lead__caption {
        margin: 0 16px;
    }
}